{% extends 'base.html.twig' %}

{% block title %}Ajouter un produit
{% endblock %}

{% block body %}
	<div class="container">
		{% include 'components/connected-as.html.twig' %}

		<nav aria-label="breadcrumb">
			<ol class="breadcrumb">
				<li class="breadcrumb-item">
					<a href="/">Accueil</a>
				</li>
				{% if isAdmin %}
					<li class="breadcrumb-item">
						<a title="Fournisseur #{{ fournisseur.id_personne }}" href="/admin/f/{{ fournisseur.id_personne }}" class="fw-bold">{% include 'components/titre-personne.html.twig' with { personne: fournisseur} %}</a>
					</li>
				{% endif %}
				<li class="breadcrumb-item active">Ajouter un produit</li>
			</ol>
		</nav>

		<h4 class="mb-3">Ajouter un produit</h4>
		<form method="POST" class="col-4">
			<div class="mb-3">
				<label class="form-label">Nom du produit</label>
				<input name="nom_produit" value="{{ nom_produit }}" type="text" class="form-control"/>
			</div>
			<div class="mb-3">
				<label class="form-label">Description du produit</label>
				<textarea name="description_produit" type="text" class="form-control">{{ description_produit }}</textarea>
			</div>

			<button class="btn btn-primary mt-3">Créer le produit</button>
		</form>
	</p>
</div>{% endblock %}
