<p>Il y a du nouveau dans un dossier qui vous concerne, accédez au dossier en question en cliquant sur le lien suivant :</p>
<p><a href="{{ url }}">{{ url }}</a></p>
<p>À bientôt !<br>Cordialement, l'équipe CMO</p>