{% apply spaceless %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/public/index.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
        crossorigin="anonymous"></script>
    <script src="https://unpkg.com/feather-icons"></script>
    <title>{% block title %}{% endblock %}</title>
</head>

<body>
    {% if session_alert %}<div class="alert {{ session_alert.meaning }} alert-dismissible fade show m-3 fixed-top" role="alert">
        {{ session_alert.message|raw }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>{% endif %}
    {% block body %}{% endblock %}
    <script src="/public/index.js"></script>
    <script>feather.replace()</script>
    <script>console.log('current_user :', {{ current_user| json_encode | raw }})</script>
</body>

</html>
{% endapply %}