@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: local('Material Icons'), local('MaterialIcons-Regular'), url(/public/material-icons.woff2) format('woff2');
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    display: inline-block;
    vertical-align: bottom;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
}

.dropzone {
    display: inline-block;
    color: #0087F7;
    padding: 3rem;
    border: 2px dashed currentColor;
    border-radius: 5px;
    min-height: fit-content;
}

.files-thumbnails {
    display: flex;
    flex-wrap: wrap;
    margin: -1rem;
}

.files-thumbnails > * {
    max-width: calc(100% - 2rem);
    width: 20rem;
    height: fit-content;
    margin: 1rem;
}