{% extends 'base.html.twig' %}

{% block title %}
	Ajouter un commercial
{% endblock %}

{% block body %}
	<div class="container">
		{% include 'components/connected-as.html.twig' %}
		<nav aria-label="breadcrumb">
			<ol class="breadcrumb">
				<li class="breadcrumb-item">
					<a href="/">Accueil</a>
				</li>
				<li class="breadcrumb-item active">Créer un nouvel utilisateur</li>
			</ol>
		</nav>

		<h4>Créer un nouvel utilisateur</h4>
		<form method="POST">
			<div class="card d-inline-block border-danger p-3 mb-3">
				<h5 class="text-danger col-12">Champs obligatoires</h5>
				<div
					class="row gx-5 gy-3">
					<!-- Type d'utilisateur -->
					<div class="col-auto">
						<span>Cet utilisateur sera un :
						</span>
						<div class="form-check">
							<label class="form-check-label">
								<input type="radio" name="user_type" class="form-check-input" value="commercial" checked>
								Commercial
							</label>
						</div>
						<div class="form-check">
							<label class="form-check-label">
								<input type="radio" name="user_type" class="form-check-input" value="fournisseur">
								Fournisseur
							</label>
						</div>
					</div>

					<!-- Email -->
					<div class="col-auto">
						<label class="form-label">Adresse mail</label>
						<input name="email" value="{{ user.email }}" type="email" class="form-control" width="10rem"/>
					</div>
				</div>
			</div>

			{% include 'components/personne-details-inputs.html.twig' with {btnText: 'Créer le compte', newUser: true} %}
		</form>
	</div>
{% endblock %}
