<th scope="col" class="sort" data-sort="{{ colId }}">
    {{ colTitle|raw }}
    </div><span class="cursor-pointer btn btn-sm btn-outline-secondary"><i class="material-icons">sort</i> Trier</span>
</th>