<header class="mb-5 d-flex justify-content-between align-items-center">
    {% include 'components/logo.html.twig' %}
    <span class="text-muted">Connecté en tant que {{ current_user.email }} (<a
            href="/logout" class="text-muted">Se deconnecter</a>)
    </span>
</header>