{% if fichiers|length > 0 %}
	<div class="row">
		{% for fichier in fichiers %}
			{% include "components/fichier.html.twig" %}
		{% endfor %}
	</div>
{% else %}
	<p class="text-muted fst-italic">Il n'y a aucun fichiers à afficher</p>
{% endif %}
