{% extends 'base.html.twig' %}

{% block title %}Ajouter un projet
{% endblock %}

{% block body %}
	<div class="container my-5 pt-5">
		{% include 'components/connected-as.html.twig' %}
		{% include 'components/back-link.html.twig' %}

		<h4 class="mb-3">Ajouter un projet</h4>
		{% if produits|length > 0 %}
			<div class="card">
				<ul class="list-group list-group-flush">
					{% for produit in produits %}
						<li class="list-group-item">
							<h5>{{ produit.nom_produit }}</h5>
							<span class="text-muted fst-italic">{{ produit.description_produit ?? "Ce produit n'a pas de description" }}</span>
                            <form method="POST">
                                <input type="hidden" name="id_produit" value="{{ produit.id_produit }}">
                                <button class="btn btn-primary mt-3">Ajouter ce produit</button>
                            </form>
						</li>
					{% endfor %}
				</ul>
			</div>
		{% else %}
			<p class="text-muted fst-italic">Il n'y a aucun produits à afficher</p>
		{% endif %}
	</div>
{% endblock %}
